<!DOCTYPE html>

<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <title>Biblioteca</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <h1>Queremos que la api permita:</h1>

        <h3>Listar todos los libros (solo el id y titulo de cada uno)</h3>
        <a href="http://localhost:8080/biblioteca">Todos</a>

        <h3>Listar el detalle de un libro concreto</h3>
        <a href="http://localhost:8080/detalle/3">Libro 3</a>

        <h3>Listar todos los libros de una categoría concreta que se le pasa por la url</h3>
        <a href="http://localhost:8080/categoria/Novela">Libros Novelas</a>

        <h3>Listar todos los libros de un autor concreto que se le pasa por la url</h3>
        <a href="http://localhost:8080/autor/JK Rowling">Libros de JK Rowling</a>

        <h3> Permita crear un nuevo libro</h3>
        <a href="http://localhost:8080/crear">POST http://localhost:8080/nuevo y pasar propiedades por Body</a>

    </body>
</html>
